.table-content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 16px;

  .table-top-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}
