<h1 mat-dialog-title>
  {{ data._id ? "Edit Destination" : "Crear Nuevo Destino" }}
</h1>
<mat-dialog-content>
  <form [formGroup]="destinationForm" class="grid-container">
    <mat-form-field appearance="fill" class="grid-item">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="grid-item">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="grid-item">
      <mat-label>Country Code</mat-label>
      <input matInput formControlName="cc" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="grid-item">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="ocio">Ocio</mat-option>
        <mat-option value="familiar">Familiar</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="manage-destinations-actions">
  <button mat-raised-button mat-dialog-close color="warn" (click)="onCancel()">
    Cancel
  </button>
  <button
    mat-raised-button
    mat-dialog-close
    cdkFocusInitialcolor="primary"
    (click)="onSave()"
  >
    Save
  </button>
</mat-dialog-actions>
